<a href="/patient/logout">Logout</a>
<a href="/patient/home">Home</a>
<a href="/patient/viewdoctors">View all Doctors</a>
<a href="/patient/bookappointment">Book New Appointment</a>
<a href="/patient/appointments">My Appointments</a>
<br/>
<br/>
<br/>