<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    My appointments
    <%- include('partials/patientnavbar') %>

    <% locals.appointments.forEach(function(appointment) { %>
        <%= appointment %> <br>
   <% }); %>
    
</body>
</html>